[Desktop Entry]
Type=Application
Name=Razer Laptop Control
Comment=Configure your Razer laptop power and lighting profiles
Exec=razer-settings
Icon=io.github.solessfir.razer-laptop-control
Terminal=false
Categories=Settings;HardwareSettings;System;
